* {
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
}

html {
    background-image: url(img1.jpg);
    background-size: 100%;
    background-attachment: fixed;
}
h1, h3 {
    text-transform: uppercase;
}

body,html {
    margin: 0;
    padding: 0;
    padding: 25px;
}
input,
button{
    border: 1px solid wheat;
    font-family: 'Star Jedi';
    color: wheat;
    font-weight: normal;
    background: black;
    padding: 5px 15px;
    cursor: pointer;
}
#info {
    width: 25px;
}
.row {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}
.item{
    border: 1px solid wheat;
    padding: 20px 25px;
    text-align: center;
    margin: 20px 5px;
    flex: 0 0 5%;
    width: 10%;
    background: black;
}
  